<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <a class="siteTitle" href="/">
            <h1>Mini Messageboard</h1>
        </a>
        <div>
            <a href="/"><button type="button">Messages</button></a>
            <a href="/new"><button type="button">Add a new message</button></a>
        </div>
    </nav>

    <main>
        <div class="container msgDeats">
            <div class="containerHead">
                <h2>Message Details</h2>
            </div>
            <div class="msgBody">
                <div class="msgTop">
                    <p><strong>Author:</strong>
                        <%= message.user %>
                    </p>
                    <p class="text"><strong>Message:</strong>
                        <%= message.text %>
                    </p>
                </div>
                <div class="msgBot">
                    <em>
                        <strong>Added:</strong>
                        <%= message.added.toLocaleString() %>
                    </em>
                    <a href="/"><button type="button" class="msgBtn back">Back</button></a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>