<html>

<head>
    <link rel="stylesheet" href="/styles.css">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <nav>
        <a class="siteTitle" href="/">
            <h1>Mini Messageboard</h1>
        </a>
        <div class="buttons">
            <a href="/"><button type="button">Messages</button></a>
            <a href="/new"><button type="button" disabled style="cursor: not-allowed;">Add a new message</button></a>
        </div>
    </nav>

    <main>
        <div class="container msgDeats">
            <div class="containerHead">
                <h2>Update Message</h2>
            </div>
            <form action="/<%= message.id %>/update" method="POST" class="msgBody">
                <strong><label for="username">Name:</label></strong>
                <input type="text" id="username" name="msgUser" value="<%= message.username %>" required><br><br>
                <strong><label for="text">Message:</label></strong>
                <textarea id="text" name="msgText" required><%= message.message %></textarea><br><br>
                <div class="formBtns">
                    <button type="submit" class="msgBtn postBtn">Post Message</button>
                    <a href="/"><button type="button" class="msgBtn back">Back</button></a>
                </div>
            </form>
        </div>
    </main>
</body>

</html>